<a href="https://colab.research.google.com/github/Adrianacms/CreditRisk/blob/main/Risco_de_Cr%C3%A9dito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Conjunto de dados de risco de crédito

Este conjunto de dados contém colunas que simulam dados de risco de crédito

In [39]:
#Imagem:

![](https://drive.google.com/uc?export=view&id=1360--rEtdk2W6iERwl2yRBCUXzI7TlUh)

/bin/bash: -c: line 0: syntax error near unexpected token `https://drive.google.com/uc?export=view'
/bin/bash: -c: line 0: `[](https://drive.google.com/uc?export=view&id=1360--rEtdk2W6iERwl2yRBCUXzI7TlUh)'

In [27]:
# Importando bibliotecas:

import pandas as pd

In [28]:
# Importando o arquivo da base de dados foramto csv:

df = pd.read_csv('/content/credit_risk_dataset.csv')

In [36]:
#Primeiras 5 linhas da base de dados:

df.head()

   person_age  ...  cb_person_cred_hist_length
0          22  ...                           3
1          21  ...                           2
2          25  ...                           3
3          23  ...                           2
4          24  ...                           4

[5 rows x 12 columns]

#Descrição das variáveis da base (dicionário dos dados)

person_age - idade do cliente (int)

person_income - renda do cliente (int)

person_home_ownership - situação da casa (object)

person_emp_length - tempo de trabalho (float)

loan_intent - modalidade do empréstimo (object)

loan_grade - nível do empréstimo (object)

loan_int_rate - taxa de juros (float)

loan_status - status do empréstimo (int)

loan_percent_income - renda percentual (float)

cb_person_default_on_file - (object)

cb_person_cred_hist_length - (int)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

Descrevendo os dados

In [38]:
df.describe()

         person_age  ...  cb_person_cred_hist_length
count  32581.000000  ...                32581.000000
mean      27.734600  ...                    5.804211
std        6.348078  ...                    4.055001
min       20.000000  ...                    2.000000
25%       23.000000  ...                    3.000000
50%       26.000000  ...                    4.000000
75%       30.000000  ...                    8.000000
max      144.000000  ...                   30.000000

[8 rows x 8 columns]



Observação: Todas as distribuições são enviesadas positivas.

    person_age: A maioria das pessoas tem entre 20 e 60 anos. 
    Na análise a seguir, para ser mais geral, pessoas com idade> 100 anos serão eliminadas.

    person_emp_length: A maioria das pessoas tem menos de 40 anos de emprego.

    Pessoas com emprego> 60 anos serão dispensadas.

    person_income: Parece que há outliers que devem ser removidos (> 4 milhões).

    Para todas as outras variáveis, a distribuição é mais uniforme em todo o intervalo, portanto, elas serão mantidas.